.wiki-img {
    width: 70%;
    margin: 5px 0px;
    border-radius: 5px;
    border-style: solid;
    border-color: #343a40;
    border-width: 3px;
}

.wiki-img-sm {
    width: 40%;
    margin: 5px 0px;
    border-radius: 5px;
    border-style: solid;
    border-color: #343a40;
    border-width: 3px;
}
