name: AutoLint

on:
  push:
    branches: [latest]
  pull_request:
    branches: [latest]

jobs:
  build:
    strategy:
      matrix:
        python-version: [3.10]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Switch to Current Branch
        run: git checkout ${{ env.BRANCH }}
        shell: bash

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r ${GITHUB_ACTION_PATH}/requirements_lint.txt
        shell: bash

      - name: Run linting
        run: ${GITHUB_ACTION_PATH}/script/lint.sh
        shell: bash
